:root {
    --titleFooterArea :  #47423F;
    --titleTextClr : #ADA692;
    --bodyBgClr : #527578;
    --textClr : #FFFFFF;
    --borderClr : #ADA692;
    --button : #ADA692;
    --buttonHover : #47423F;
    --buttonActive : #B3B1B2;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    /* footer support */
    position: relative;
    min-height: 100%;
}

body {
    background-color: var(--bodyBgClr);
    color: var(--textClr);
    font-family: 'Shadows Into Light', cursive;
    font-size: 20px;
    line-height: 1.6;
    /* Footer Support*/
    margin-bottom: 100px;
}

button {
    border: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    outline: none;
}

/* HEADER */

.header {
    display: flex;
    justify-content: center;
    padding: 15px 0px;
    background-color: var(--titleFooterArea);
    border: 1px solid var(--borderClr);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.title {
    font-size: 48px;
    color: var(--titleTextClr);
    font-family: 'Edu VIC WA NT Beginner', cursive;
}

/* MAIN */

.main {
    margin-top: 40px;
    text-align: center;
}

.scoreboard {
    margin-bottom: 30px;
}

.score-info {
    font-size: 48px;
}

.score-message {
    font-size: 32px;
    margin-bottom: 15px;
}

.scores-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 400px;
    padding: 10px;
    margin: 0 auto;
}

.score-box {
    width: 200px;
}

.score {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.btn {
    border-radius: 4px;
    background-color: var(--button);
    border: 1px solid wheat;
}

.btn-square {
    width: 90px;
    height: 90px;
}

.btn:hover {
    background-color: var(--buttonHover);
}

.btn:active {
    background-color : var(--buttonActive);
}

.sign {
    font-size: 45px;
    margin-bottom: 10px;
}

/* FOOTER */

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 10px;
    color: var(--textClr);
    background-color: var(--titleFooterArea);
    border: 1px solid var(--borderClr);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.fa-github {
    color: wheat;
    font-size: 24px;
    transition: transform 0.3s ease-in-out;
}

.fa-linkedin {
    color: wheat;
    font-size: 24px;
    transition: transform 0.3s ease-in-out;
}

.fa-wordpress {
    color: wheat;
    font-size: 24px;
    transition: transform 0.3s ease-in-out;
}

.fa-github:hover {
    transform: rotate(360deg)scale(1.2);
}

.fa-linkedin:hover {
    transform: rotate(360deg)scale(1.2);
}

.fa-wordpress:hover {
    transform: rotate(360deg)scale(1.2);
}

/* MODALS */

.modal {
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 300px;
    padding: 30px;
    border-radius: 10px;
    background-color: var(--bodyBgClr);
    text-align: center;
    font-size: 30px;
    user-select: none;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-title {
    font-size: 40px;
    font-weight: bold;
}

.btn-restart {
    padding: 10px 20px;
    margin-top: 25px;
    margin-bottom: 15px;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.6;
}

.overlay.active {
    display: block;
}